@media (min-width: 1280px){
  .xl\:hidden {
    display: none;
  }
  .xl\:block {
    display: block;
  }
  .xl\:flex {
    display: flex;
  }
}

@media (min-width: 640px) {
  .sm\:me-6 {
    margin-right: 1.5rem;
  }
}

.rotate-90 {
  --bs-rotate: 90deg;
}

.transform {
  transform: rotate(var(--bs-rotate));
}

