.side-nav {
  // Тут ещё используются градиенты, но я не понял для чего они
  position: relative;
  display: flex;
  height: 100vh;
  width: 270px;
  flex-direction: column;
  overflow: hidden;
  --tw-bg-opacity: 1;
  background-color: $primary;
  padding-left: 1.5rem;
  padding-right: 0.5rem;
  transition-property: width;
  transition-duration: .3s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  &:before {
    content: "";
    background-size: 270px auto;
    background-position: right 3.5rem;
    -webkit-animation: .4s intro-devider-animation ease-in-out .33333s;
    animation: .4s intro-devider-animation ease-in-out .33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
    background-image: url(../img/bg-main.png);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    opacity: 0;
  }
  &:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    margin-top: 3.5rem;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom, $primary, rgba($primary, 0.7), rgb(0, 0, 0));
  }
  &__header {
    height: 33px;
    &__logo {
      width: 1.6rem;
    }
  }

  .scrollable {
    position: relative;
    z-index: 10;
    margin-left: -1.25rem;
    padding-left: 1.25rem;
    mask-image: -webkit-linear-gradient(top, rgba(0,0,0,0), black 30px);
    height: 100%;
    overflow-y: auto;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    &__content {
      overflow-x: hidden;
      padding-right: 1.25rem;
      &>li.side-nav__devider {
        opacity: 0;
        animation: .4s intro-devider-animation ease-in-out .33333s;
        animation-fill-mode: forwards;
        animation-delay: .1s;
      }
      &>li>a:not(.side-menu--active) {
        opacity: 0;
        transform: translate(50px);
        animation: .4s intro-menu-animation ease-in-out .33333s;
        animation-fill-mode: forwards;
        animation-delay: .4s;
      }
      &>li>.side-menu:hover:not(.side-menu--active):not(.side-menu--open) {
        border-radius: 1rem;
        background-color: $primary;
        &:before {
          content: "";
          position: absolute;
          top: 0px;
          right: 0px;
          bottom: 0px;
          left: 0px;
          z-index: -1;
          display: block;
          border-radius: 1rem;
          background-color: #ffffff1a;
        }
      }
    }

    .side-nav__devider {
      position: relative;
      height: 1.25rem;
      width: 100%;
      padding-left: 1.25rem;
      font-size: .75rem;
      line-height: 1rem;
      color: #ffffff80;
    }
  }

  .side-menu {
    position: relative;
    margin-bottom: 0.25rem;
    display: flex;
    height: 50px;
    align-items: center;
    padding-left: 1.25rem;
    color: rgb(255 255 255 );

    .side-menu__title {
      margin-left: 0.75rem;
      display: flex;
      width: 100%;
      align-items: center;
    }

    .side-menu__icon svg {
      margin-top: -0.125rem;
      height: 1.25rem;
      width: 1.25rem;
    }
  }

}

.side-nav .side-nav__header .side-nav__header__toggler, .side-nav .side-nav__header .mobile-menu-toggler {
    z-index: 5;
}

.side-nav.side-nav--simple .side-nav__header .side-nav__header__toggler svg {
    transform: rotate(180deg);
}

.side-nav .side-nav__header .side-nav__header__toggler svg, .side-nav .side-nav__header .mobile-menu-toggler svg {
    transition-property: transform;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}

@media (min-width: 1279px)
{
  .side-nav.side-nav--simple {
    position: absolute;
    z-index: 52;
    width: 112px;
    &:hover {
       min-height: 100vh;
       width: 270px;
      .side-nav__header {
        .side-nav__header__text {
          opacity: 1;
        }
        .side-nav__header__logo {
          margin-left: 0;
        }
      }
      .side-nav__devider {
        color: #ffffff80;
        &:before {
          color: transparent;
        }
      }

      .side-menu .side-menu__title {
        display: flex;
      }
    }
    .side-nav__header {
      .side-nav__header__text {
        opacity: 0;
        transition-property: opacity;
        transition-duration: .2s;
        transition-timing-function: cubic-bezier(.4,0,.2,1);
      }
      .side-nav__header__logo {
        margin-left: 1.25rem;
        transition-property: all;
        transition-duration: .2s;
        transition-timing-function: cubic-bezier(.4,0,.2,1);
      }
    }
    .side-nav__devider {
      white-space: nowrap;
      color: transparent;
      &:before {
        content: "...";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        margin-top: -0.875rem;
        width: 100%;
        text-align: center;
        font-size: 1.5rem;
        line-height: 2rem;
        color: #ffffff80;
      }
    }
    .side-menu .side-menu__title {
      display: none;
      white-space: nowrap;
    }
  }
}

.side-nav .scrollable__content>li.side-nav__devider {
    opacity: 0;
    animation: .4s intro-devider-animation ease-in-out .33333s;
    animation-fill-mode: forwards;
    animation-delay: .1s;
}

// TODO: media по SASS
@media (max-width: 1279px) {
  .side-nav {
    position: absolute;
    z-index: 52;
    margin-left: -100%;
    &::before {
      content: "";
      visibility: hidden;
      position: fixed;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      z-index: -2;
      background-color: rgb(0 0 0 / var(--bs-bg-opacity));
      --bs-bg-opacity: .6;
      background-image: none;
      opacity: 0;
      transition-property: opacity;
      transition-duration: .3s;
      transition-timing-function: cubic-bezier(.4,0,.2,1);
    }
    &::after {
      content: "";
      margin-top: 0;
      --bs-bg-opacity: 1;
      background-color: rgb(var(--color-primary) / var(--bs-bg-opacity));
    }
    &.side-nav--active {
      margin-left: 0;
      &::before {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

.side-nav .scrollable .simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
    background-color: #fff3
}

.side-nav .scrollable .simplebar-track.simplebar-vertical {
    padding-top: 3.1rem;
}

.nav-logo {
  z-index: 5;
}

@keyframes intro-devider-animation {
  100% {
    opacity: 1;
  }
}

@keyframes intro-menu-animation {
    to {
        opacity: 1;
        transform: translate(0)
    }
}
