.side-nav {
  // Тут ещё используются градиенты, но я не понял для чего они
  position: relative;
  display: flex;
  height: 100vh;
  width: 270px;
  flex-direction: column;
  overflow: hidden;
  --tw-bg-opacity: 1;
  background-color: var(--bs-color-primary);
  padding-left: 1.5rem;
  padding-right: 0.5rem;
  transition-property: width;
  transition-duration: .3s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  &:before {
    content: "";
    background-size: 270px auto;
    background-position: right 3.5rem;
    -webkit-animation: .4s intro-devider-animation ease-in-out .33333s;
    animation: .4s intro-devider-animation ease-in-out .33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
    background-image: url(../img/bg-main.png);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    opacity: 0;
  }
  &:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    margin-top: 3.5rem;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom, $primary, rgba($primary, 0.7), rgb(0, 0, 0));
  }
  &__header {
    height: 33px;
    &__logo {
      width: 1.6rem;
    }
  }

  .scrollable {
    position: relative;
    z-index: 10;
    margin-left: -1.25rem;
    padding-left: 1.25rem;
    mask-image: linear-gradient(to top,rgba(0,0,0,0),black 30px);
    height: 100%;
    overflow-y: auto;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    &__content {
      overflow-x: hidden;
      padding-right: 1.25rem;
      &>li:nth-child(1).side-nav__devider {
        opacity: 0;
        animation: .4s intro-devider-animation ease-in-out .33333s;
        animation-fill-mode: forwards;
        animation-delay: .1s;
      }
    }

    .side-nav__devider {
      position: relative;
      height: 1.25rem;
      width: 100%;
      padding-left: 1.25rem;
      font-size: .75rem;
      line-height: 1rem;
      color: #ffffff80;
    }
  }

}

.side-nav .side-nav__header .side-nav__header__toggler, .side-nav .side-nav__header .mobile-menu-toggler {
    z-index: 5;
}

.side-nav.side-nav--simple .side-nav__header .side-nav__header__toggler svg {
    transform: rotate(180deg);
}

.side-nav .side-nav__header .side-nav__header__toggler svg, .side-nav .side-nav__header .mobile-menu-toggler svg {
    transition-property: transform;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}

@media (min-width: 1279px)
{
  .side-nav.side-nav--simple {
    position: absolute;
    z-index: 52;
    width: 112px;
    &:hover {
       min-height: 100vh;
       width: 270px;
      .side-nav__header {
        .side-nav__header__text {
          opacity: 1;
        }
        .side-nav__header__logo {
          margin-left: 0;
        }
      }
    }
    .side-nav__header {
      .side-nav__header__text {
        opacity: 0;
        transition-property: opacity;
        transition-duration: .2s;
        transition-timing-function: cubic-bezier(.4,0,.2,1);
      }
      .side-nav__header__logo {
        margin-left: 1.25rem;
        transition-property: all;
        transition-duration: .2s;
        transition-timing-function: cubic-bezier(.4,0,.2,1);
      }
    }
  }
}

[data-simplebar] {
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}

.simplebar-wrapper {
    overflow: hidden;
    width: inherit;
    height: inherit;
    max-width: inherit;
    max-height: inherit;
}

.simplebar-height-auto-observer-wrapper {
    box-sizing: inherit!important;
    height: 100%;
    width: 100%;
    max-width: 1px;
    position: relative;
    float: left;
    max-height: 1px;
    overflow: hidden;
    z-index: -1;
    padding: 0;
    margin: 0;
    pointer-events: none;
    flex-grow: inherit;
    flex-shrink: 0;
    flex-basis: 0;
}

.simplebar-height-auto-observer {
    box-sizing: inherit;
    display: block;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 1000%;
    width: 1000%;
    min-height: 1px;
    min-width: 1px;
    overflow: hidden;
    pointer-events: none;
    z-index: -1;
}

.simplebar-mask {
    direction: inherit;
    position: absolute;
    overflow: hidden;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: auto!important;
    height: auto!important;
    z-index: 0;
}

.simplebar-offset {
    direction: inherit!important;
    box-sizing: inherit!important;
    resize: none!important;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0;
    -webkit-overflow-scrolling: touch;
}

.simplebar-content-wrapper {
    direction: inherit;
    box-sizing: border-box!important;
    position: relative;
    display: block;
    height: 100%;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.side-nav .scrollable .simplebar-content {
    padding: 0;
}

.simplebar-content {
  &:before, &:after {
    content: " ";
    display: table;
  }
}

.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none;
}


.simplebar-content-wrapper::-webkit-scrollbar, .simplebar-hide-scrollbar::-webkit-scrollbar {
    width: 0;
    height: 0;
}

@keyframes intro-devider-animation {
  100% {
    opacity: 1;
  }
}
